@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
    margin: 5rem;
    overflow-y: hidden;
}

body {
    font-family: 'PT Mono', monospace;
    background: black;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    outline: 3px solid blue;
}

.grid div {
    width: 15px;
    height: 15px;
    display: flex;
    place-content: center;
    place-items: center;
    /* background-color: blue; */
    /* outline: 1px solid black; */
}

.grid div:nth-child(even) {
    color: gray;
}

.debug-index {
    display: none;
    font-size: 0.45rem;
    mix-blend-mode: difference;
}

.pac-dot {
    background-color: mediumspringgreen;
    border: 5px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: mediumspringgreen;
}

.portal {
    background-color: blue;
}

.power-pellet {
    background-color: orange;
    border-radius: 7.5px; 
}

.pacman {
    background-color: yellow;
    border-radius: 7.5px;
    border: none;
}

.ghost {
    border: none;
}

.blinky {
    background: red;
}

.pinky {
    background: magenta;
}

.inky {
    background: aqua;
}

.clyde {
    background: orange;
}

